.box {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: calc(100% - 20px);
};

.box > input {
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-bottom: 10px;
    width: calc(100% - 20px);
};

.label {
    margin: 10px 0;
    width: 100%;    
    justify-content: flex-start;
};
