@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Press+Start+2P&family=Roboto:wght@300&family=VT323&display=swap');

body {
  margin: 0 20px;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1B2223;
  background-image: url(/public/circle-scatter.svg);
  background-size: cover;
}

code {
  font-family: "Roboto", sans-serif;
}

@media screen and (min-width: 600px) {
  body {
    margin: 0 5%;
  }
}

@media screen and (min-width: 1200px) {
  body {
    margin: 0 10%;
  }
}


