.card {
  background: rgba( 70, 70, 70, 0.2 );
  box-shadow: 0 8px 32px 0 rgba(114, 114, 114, 0.37);
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  height: auto;
  width: calc(100% - 42px);
  padding: 10px;
  color: #f4f3fd;
  margin: 10px;
}

.card h2 {
  font-size: 1.5rem;
  margin: 10px;
  text-transform: capitalize;
}