.box {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.box input {
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-bottom: 2px;
}

.box label {
    margin-bottom: 5px;
}

.list {
    width: 100%;
    overflow-y: auto;
    max-height: 300px;
    border-radius: 5px;
}

li {
    list-style: none;
    padding: 10px;
    cursor: pointer;
    background-color: #f4f3fd;
    color: black;
}

li:not(:last-of-type) {
  border-bottom: 2px solid black;
}