.box {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.box input {
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-bottom: 2px;
    font-size: 1rem;
}

.box label {
    margin-bottom: 5px;
}

.list {
    width: calc(100% - 40px);
    overflow-y: auto;
    max-height: 300px;
    border-radius: 5px;
    position: absolute;
    left: 10;
    top: 48%;
    z-index: 10000;
}

li {
    list-style: none;
    padding: 10px;
    cursor: pointer;
    background-color: #f4f3fd;
    color: black;
    display: flex;
    align-items: center;
}

li:hover {
    background-color: #0ef6cc;
    color: black;
}

li span {
    margin-left: 10px;
}

li:not(:last-of-type) {
  border-bottom: 2px solid black;
}

.input-icon {
    position: absolute;
    left: 30px;
    top: 202px;
    color: #0ef6cc;
}