
.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    width: 300px;
    height: 100px;
    background: rgba(143, 143, 143, 0.2);
    box-shadow: 0 8px 32px 0 rgba(114, 114, 114, 0.37);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.notification:hover {
    transform: scale(1.03);
    transition: all 0.3s ease;
}

.notification-top {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 20px);
    padding: 5px 10px;
    height: calc(40% - 10px);
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #0ef6e3;
    align-items: center;
}

.notification-top > h3 {
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    color: #0ef6cc;
    margin: 0;
    text-transform: capitalize;
}

.notification-top > button {
    background-color: transparent;
    border: none;
    height: 20px;
    width: 20px;
    color: #0ef6cc;
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification-content {
    display: flex;
    height: calc(60% - 20px);
    width: calc(100% - 20px);
    padding: 10px;
}

.notification-content > p {
    font-size: 0.9rem;
    font-family: "Roboto", sans-serif;
    color: #0ef6cc;
    margin: 0;
    text-transform: capitalize;
}