.text {
    color: #f4f3fd;
    font-size: 1.5rem;
    margin: 10px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

.cursor {
    animation: blink-caret .75s step-end infinite;
}

@keyframes blink-caret {
  from, to { color: transparent }
  50% { color: rgb(0, 198, 53); }
}