.App {
  width: clamp(300px, 100%, 1100px);
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 90px;
}

.top {
  align-items: center;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.bottom {
  display: flex;
  width: 100%;
}


@media screen and (max-width: 600px) {
  .top {
    display: flex;
    flex-direction: column;
  }
}